
<div *ngIf="employeeLocalTax">
    <h2><span>Employee Local Tax</span> {{employeeLocalTax.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Filing Status</span></dt>
        <dd>
            <span>{{employeeLocalTax.filingStatus}}</span>
        </dd>
        <dt><span>Exempt From With Holding</span></dt>
        <dd>
            <span>{{employeeLocalTax.exemptFromWithHolding}}</span>
        </dd>
        <dt><span>Allowances</span></dt>
        <dd>
            <span>{{employeeLocalTax.allowances}}</span>
        </dd>
        <dt><span>Extra With Holding</span></dt>
        <dd>
            <span>{{employeeLocalTax.extraWithHolding}}</span>
        </dd>
        <dt><span>Employee Code</span></dt>
        <dd>
            <span>{{employeeLocalTax.employeeCode}}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
            <span>{{employeeLocalTax.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
            <span>{{employeeLocalTax.createdBy}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'employee-local-tax/'+ employeeLocalTax.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
