<div>
    <h2>
        <span>Employee Work Locations</span>
        <button class="btn btn-primary float-right jh-create-entity create-employee-work-location" [routerLink]="['/', { outlets: { popup: ['employee-work-location-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Employee Work Location
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="employeeWorkLocations">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Address Line 1</span></th>
            <th><span>Address Line 2</span></th>
            <th><span>Zip</span></th>
            <th><span>City</span></th>
            <th><span>State</span></th>
            <th><span>Country</span></th>
            <th><span>Location Code</span></th>
            <th><span>Employee Code</span></th>
            <th><span>Created Date</span></th>
            <th><span>Created By</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let employeeWorkLocation of employeeWorkLocations ;trackBy: trackId">
                <td><a [routerLink]="['../employee-work-location', employeeWorkLocation.id ]">{{employeeWorkLocation.id}}</a></td>
                <td>{{employeeWorkLocation.addressLine1}}</td>
                <td>{{employeeWorkLocation.addressLine2}}</td>
                <td>{{employeeWorkLocation.zip}}</td>
                <td>{{employeeWorkLocation.city}}</td>
                <td>{{employeeWorkLocation.state}}</td>
                <td>{{employeeWorkLocation.country}}</td>
                <td>{{employeeWorkLocation.locationCode}}</td>
                <td>{{employeeWorkLocation.employeeCode}}</td>
                <td>{{employeeWorkLocation.createdDate | date:'mediumDate'}}</td>
                <td>{{employeeWorkLocation.createdBy}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../employee-work-location', employeeWorkLocation.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'employee-work-location/'+ employeeWorkLocation.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'employee-work-location/'+ employeeWorkLocation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
