<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCompanyContactLabel">Create or edit a Company Contact</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!companyContact.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="companyContact.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="field_firstName"
                [(ngModel)]="companyContact.firstName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                [(ngModel)]="companyContact.lastName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="companyContact.email" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_mobilePhone">Mobile Phone</label>
            <input type="text" class="form-control" name="mobilePhone" id="field_mobilePhone"
                [(ngModel)]="companyContact.mobilePhone" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_homePhone">Home Phone</label>
            <input type="text" class="form-control" name="homePhone" id="field_homePhone"
                [(ngModel)]="companyContact.homePhone" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_dob">Dob</label>
            <div class="input-group">
                <input id="field_dob" type="text" class="form-control" name="dob" ngbDatepicker  #dobDp="ngbDatepicker" [(ngModel)]="companyContact.dob"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="dobDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_ssn">Ssn</label>
            <input type="text" class="form-control" name="ssn" id="field_ssn"
                [(ngModel)]="companyContact.ssn" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_companyContactType">Company Contact Type</label>
            <input type="text" class="form-control" name="companyContactType" id="field_companyContactType"
                [(ngModel)]="companyContact.companyContactType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_verificationCode">Verification Code</label>
            <input type="text" class="form-control" name="verificationCode" id="field_verificationCode"
                [(ngModel)]="companyContact.verificationCode" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_companyCode">Company Code</label>
            <input type="text" class="form-control" name="companyCode" id="field_companyCode"
                [(ngModel)]="companyContact.companyCode" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_createdDate">Created Date</label>
            <div class="input-group">
                <input id="field_createdDate" type="text" class="form-control" name="createdDate" ngbDatepicker  #createdDateDp="ngbDatepicker" [(ngModel)]="companyContact.createdDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="createdDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_createdBy">Created By</label>
            <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                [(ngModel)]="companyContact.createdBy" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
