<div>
    <h2>
        <span>Company Departments</span>
        <button class="btn btn-primary float-right jh-create-entity create-company-department" [routerLink]="['/', { outlets: { popup: ['company-department-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Company Department
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="companyDepartments">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Department Code</span></th>
            <th><span>Company Code</span></th>
            <th><span>Created Date</span></th>
            <th><span>Created By</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let companyDepartment of companyDepartments ;trackBy: trackId">
                <td><a [routerLink]="['../company-department', companyDepartment.id ]">{{companyDepartment.id}}</a></td>
                <td>{{companyDepartment.name}}</td>
                <td>{{companyDepartment.departmentCode}}</td>
                <td>{{companyDepartment.companyCode}}</td>
                <td>{{companyDepartment.createdDate | date:'mediumDate'}}</td>
                <td>{{companyDepartment.createdBy}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../company-department', companyDepartment.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'company-department/'+ companyDepartment.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'company-department/'+ companyDepartment.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
