<div>
    <h2>
        <span>Employee State Taxes</span>
        <button class="btn btn-primary float-right jh-create-entity create-employee-state-tax" [routerLink]="['/', { outlets: { popup: ['employee-state-tax-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Employee State Tax
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="employeeStateTaxes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>State</span></th>
            <th><span>Filing Status</span></th>
            <th><span>Exempt From With Holding</span></th>
            <th><span>Exempt From SUI</span></th>
            <th><span>Exempt From FUTA</span></th>
            <th><span>Futa Exempt Reason</span></th>
            <th><span>Allowances</span></th>
            <th><span>Extra With Holding</span></th>
            <th><span>Employee Code</span></th>
            <th><span>Created Date</span></th>
            <th><span>Created By</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let employeeStateTax of employeeStateTaxes ;trackBy: trackId">
                <td><a [routerLink]="['../employee-state-tax', employeeStateTax.id ]">{{employeeStateTax.id}}</a></td>
                <td>{{employeeStateTax.state}}</td>
                <td>{{employeeStateTax.filingStatus}}</td>
                <td>{{employeeStateTax.exemptFromWithHolding}}</td>
                <td>{{employeeStateTax.exemptFromSUI}}</td>
                <td>{{employeeStateTax.exemptFromFUTA}}</td>
                <td>{{employeeStateTax.futaExemptReason}}</td>
                <td>{{employeeStateTax.allowances}}</td>
                <td>{{employeeStateTax.extraWithHolding}}</td>
                <td>{{employeeStateTax.employeeCode}}</td>
                <td>{{employeeStateTax.createdDate | date:'mediumDate'}}</td>
                <td>{{employeeStateTax.createdBy}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../employee-state-tax', employeeStateTax.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'employee-state-tax/'+ employeeStateTax.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'employee-state-tax/'+ employeeStateTax.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
