<div>
    <h2>
        <span>Company Compensations</span>
        <button class="btn btn-primary float-right jh-create-entity create-company-compensation" [routerLink]="['/', { outlets: { popup: ['company-compensation-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Company Compensation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="companyCompensations">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Desc</span></th>
            <th><span>Compensation Type</span></th>
            <th><span>Company Code</span></th>
            <th><span>Created Date</span></th>
            <th><span>Created By</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let companyCompensation of companyCompensations ;trackBy: trackId">
                <td><a [routerLink]="['../company-compensation', companyCompensation.id ]">{{companyCompensation.id}}</a></td>
                <td>{{companyCompensation.name}}</td>
                <td>{{companyCompensation.desc}}</td>
                <td>{{companyCompensation.compensationType}}</td>
                <td>{{companyCompensation.companyCode}}</td>
                <td>{{companyCompensation.createdDate | date:'mediumDate'}}</td>
                <td>{{companyCompensation.createdBy}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../company-compensation', companyCompensation.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'company-compensation/'+ companyCompensation.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'company-compensation/'+ companyCompensation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
