
<div *ngIf="companyCompensation">
    <h2><span>Company Compensation</span> {{companyCompensation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{companyCompensation.name}}</span>
        </dd>
        <dt><span>Desc</span></dt>
        <dd>
            <span>{{companyCompensation.desc}}</span>
        </dd>
        <dt><span>Compensation Type</span></dt>
        <dd>
            <span>{{companyCompensation.compensationType}}</span>
        </dd>
        <dt><span>Company Code</span></dt>
        <dd>
            <span>{{companyCompensation.companyCode}}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
            <span>{{companyCompensation.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
            <span>{{companyCompensation.createdBy}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'company-compensation/'+ companyCompensation.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
