<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEmployeeLabel">Create or edit a Employee</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!employee.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="employee.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="field_firstName"
                [(ngModel)]="employee.firstName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                [(ngModel)]="employee.lastName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="employee.email" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_mobilePhoneNumber">Mobile Phone Number</label>
            <input type="text" class="form-control" name="mobilePhoneNumber" id="field_mobilePhoneNumber"
                [(ngModel)]="employee.mobilePhoneNumber" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_homePhoneNumber">Home Phone Number</label>
            <input type="text" class="form-control" name="homePhoneNumber" id="field_homePhoneNumber"
                [(ngModel)]="employee.homePhoneNumber" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_dob">Dob</label>
            <div class="input-group">
                <input id="field_dob" type="text" class="form-control" name="dob" ngbDatepicker  #dobDp="ngbDatepicker" [(ngModel)]="employee.dob"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="dobDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_ssn">Ssn</label>
            <input type="text" class="form-control" name="ssn" id="field_ssn"
                [(ngModel)]="employee.ssn" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_jobTitle">Job Title</label>
            <input type="text" class="form-control" name="jobTitle" id="field_jobTitle"
                [(ngModel)]="employee.jobTitle" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_gender">Gender</label>
            <input type="text" class="form-control" name="gender" id="field_gender"
                [(ngModel)]="employee.gender" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_maritalStatus">Marital Status</label>
            <input type="text" class="form-control" name="maritalStatus" id="field_maritalStatus"
                [(ngModel)]="employee.maritalStatus" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_employeeNumber">Employee Number</label>
            <input type="text" class="form-control" name="employeeNumber" id="field_employeeNumber"
                [(ngModel)]="employee.employeeNumber" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_hireDate">Hire Date</label>
            <div class="input-group">
                <input id="field_hireDate" type="text" class="form-control" name="hireDate" ngbDatepicker  #hireDateDp="ngbDatepicker" [(ngModel)]="employee.hireDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="hireDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_workPhoneNumber">Work Phone Number</label>
            <input type="text" class="form-control" name="workPhoneNumber" id="field_workPhoneNumber"
                [(ngModel)]="employee.workPhoneNumber" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_employeeType">Employee Type</label>
            <input type="text" class="form-control" name="employeeType" id="field_employeeType"
                [(ngModel)]="employee.employeeType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_department">Department</label>
            <input type="text" class="form-control" name="department" id="field_department"
                [(ngModel)]="employee.department" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_companyCode">Company Code</label>
            <input type="text" class="form-control" name="companyCode" id="field_companyCode"
                [(ngModel)]="employee.companyCode" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_createdDate">Created Date</label>
            <div class="input-group">
                <input id="field_createdDate" type="text" class="form-control" name="createdDate" ngbDatepicker  #createdDateDp="ngbDatepicker" [(ngModel)]="employee.createdDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="createdDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_createdBy">Created By</label>
            <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                [(ngModel)]="employee.createdBy" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
