<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCompanyBankLabel">Create or edit a Company Bank</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!companyBank.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="companyBank.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_accountType">Account Type</label>
            <input type="text" class="form-control" name="accountType" id="field_accountType"
                [(ngModel)]="companyBank.accountType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_routingNumber">Routing Number</label>
            <input type="text" class="form-control" name="routingNumber" id="field_routingNumber"
                [(ngModel)]="companyBank.routingNumber" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_accountNumber">Account Number</label>
            <input type="text" class="form-control" name="accountNumber" id="field_accountNumber"
                [(ngModel)]="companyBank.accountNumber" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_bankName">Bank Name</label>
            <input type="text" class="form-control" name="bankName" id="field_bankName"
                [(ngModel)]="companyBank.bankName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_percentDeposit">Percent Deposit</label>
            <input type="number" class="form-control" name="percentDeposit" id="field_percentDeposit"
                [(ngModel)]="companyBank.percentDeposit" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_companyCode">Company Code</label>
            <input type="text" class="form-control" name="companyCode" id="field_companyCode"
                [(ngModel)]="companyBank.companyCode" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_createdDate">Created Date</label>
            <div class="input-group">
                <input id="field_createdDate" type="text" class="form-control" name="createdDate" ngbDatepicker  #createdDateDp="ngbDatepicker" [(ngModel)]="companyBank.createdDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="createdDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_createdBy">Created By</label>
            <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                [(ngModel)]="companyBank.createdBy" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
