<div>
    <h2>
        <span>Futa Exempt Reason Codes</span>
        <button class="btn btn-primary float-right jh-create-entity create-futa-exempt-reason-code" [routerLink]="['/', { outlets: { popup: ['futa-exempt-reason-code-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Futa Exempt Reason Code
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="futaExemptReasonCodes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let futaExemptReasonCode of futaExemptReasonCodes ;trackBy: trackId">
                <td><a [routerLink]="['../futa-exempt-reason-code', futaExemptReasonCode.id ]">{{futaExemptReasonCode.id}}</a></td>
                <td>{{futaExemptReasonCode.name}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../futa-exempt-reason-code', futaExemptReasonCode.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'futa-exempt-reason-code/'+ futaExemptReasonCode.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'futa-exempt-reason-code/'+ futaExemptReasonCode.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
