
<div *ngIf="employeeBank">
    <h2><span>Employee Bank</span> {{employeeBank.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Account Type</span></dt>
        <dd>
            <span>{{employeeBank.accountType}}</span>
        </dd>
        <dt><span>Routing Number</span></dt>
        <dd>
            <span>{{employeeBank.routingNumber}}</span>
        </dd>
        <dt><span>Account Number</span></dt>
        <dd>
            <span>{{employeeBank.accountNumber}}</span>
        </dd>
        <dt><span>Bank Name</span></dt>
        <dd>
            <span>{{employeeBank.bankName}}</span>
        </dd>
        <dt><span>Percent Deposit</span></dt>
        <dd>
            <span>{{employeeBank.percentDeposit}}</span>
        </dd>
        <dt><span>Employee Code</span></dt>
        <dd>
            <span>{{employeeBank.employeeCode}}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
            <span>{{employeeBank.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
            <span>{{employeeBank.createdBy}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'employee-bank/'+ employeeBank.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
