
<div *ngIf="companyStateTax">
    <h2><span>Company State Tax</span> {{companyStateTax.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>State Code</span></dt>
        <dd>
            <span>{{companyStateTax.stateCode}}</span>
        </dd>
        <dt><span>Tax Id</span></dt>
        <dd>
            <span>{{companyStateTax.taxId}}</span>
        </dd>
        <dt><span>Rate</span></dt>
        <dd>
            <span>{{companyStateTax.rate}}</span>
        </dd>
        <dt><span>Effective Date</span></dt>
        <dd>
            <span>{{companyStateTax.effectiveDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
            <span>{{companyStateTax.status}}</span>
        </dd>
        <dt><span>Deposit Frequency</span></dt>
        <dd>
            <span>{{companyStateTax.depositFrequency}}</span>
        </dd>
        <dt><span>Company Code</span></dt>
        <dd>
            <span>{{companyStateTax.companyCode}}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
            <span>{{companyStateTax.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
            <span>{{companyStateTax.createdBy}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'company-state-tax/'+ companyStateTax.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
