<div>
    <h2>
        <span>Payroll Employees</span>
        <button class="btn btn-primary float-right jh-create-entity create-payroll-employee" [routerLink]="['/', { outlets: { popup: ['payroll-employee-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Payroll Employee
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="payrollEmployees">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Company Schedule</span></th>
            <th><span>Income Tax State</span></th>
            <th><span>Unemployment State</span></th>
            <th><span>Net Pay</span></th>
            <th><span>Pay Stub</span></th>
            <th><span>Company Code</span></th>
            <th><span>Employee Code</span></th>
            <th><span>Created Date</span></th>
            <th><span>Created By</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let payrollEmployee of payrollEmployees ;trackBy: trackId">
                <td><a [routerLink]="['../payroll-employee', payrollEmployee.id ]">{{payrollEmployee.id}}</a></td>
                <td>{{payrollEmployee.companySchedule}}</td>
                <td>{{payrollEmployee.incomeTaxState}}</td>
                <td>{{payrollEmployee.unemploymentState}}</td>
                <td>{{payrollEmployee.netPay}}</td>
                <td>{{payrollEmployee.payStub}}</td>
                <td>{{payrollEmployee.companyCode}}</td>
                <td>{{payrollEmployee.employeeCode}}</td>
                <td>{{payrollEmployee.createdDate | date:'mediumDate'}}</td>
                <td>{{payrollEmployee.createdBy}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../payroll-employee', payrollEmployee.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'payroll-employee/'+ payrollEmployee.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'payroll-employee/'+ payrollEmployee.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
