
<div *ngIf="employeeResidenceLocation">
    <h2><span>Employee Residence Location</span> {{employeeResidenceLocation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Address Line 1</span></dt>
        <dd>
            <span>{{employeeResidenceLocation.addressLine1}}</span>
        </dd>
        <dt><span>Address Line 2</span></dt>
        <dd>
            <span>{{employeeResidenceLocation.addressLine2}}</span>
        </dd>
        <dt><span>Zip</span></dt>
        <dd>
            <span>{{employeeResidenceLocation.zip}}</span>
        </dd>
        <dt><span>City</span></dt>
        <dd>
            <span>{{employeeResidenceLocation.city}}</span>
        </dd>
        <dt><span>State</span></dt>
        <dd>
            <span>{{employeeResidenceLocation.state}}</span>
        </dd>
        <dt><span>Country</span></dt>
        <dd>
            <span>{{employeeResidenceLocation.country}}</span>
        </dd>
        <dt><span>Location Code</span></dt>
        <dd>
            <span>{{employeeResidenceLocation.locationCode}}</span>
        </dd>
        <dt><span>Employee Code</span></dt>
        <dd>
            <span>{{employeeResidenceLocation.employeeCode}}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
            <span>{{employeeResidenceLocation.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
            <span>{{employeeResidenceLocation.createdBy}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'employee-residence-location/'+ employeeResidenceLocation.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
