<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEmployeeFederalTaxLabel">Create or edit a Employee Federal Tax</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!employeeFederalTax.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="employeeFederalTax.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_filingStatusCode">Filing Status Code</label>
            <input type="text" class="form-control" name="filingStatusCode" id="field_filingStatusCode"
                [(ngModel)]="employeeFederalTax.filingStatusCode" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_exemptFromWithHolding">Exempt From With Holding</label>
            <input type="checkbox" class="form-control" name="exemptFromWithHolding" id="field_exemptFromWithHolding"
                [(ngModel)]="employeeFederalTax.exemptFromWithHolding" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_allowances">Allowances</label>
            <input type="number" class="form-control" name="allowances" id="field_allowances"
                [(ngModel)]="employeeFederalTax.allowances" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_extraWithHolding">Extra With Holding</label>
            <input type="number" class="form-control" name="extraWithHolding" id="field_extraWithHolding"
                [(ngModel)]="employeeFederalTax.extraWithHolding" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_employeeCode">Employee Code</label>
            <input type="text" class="form-control" name="employeeCode" id="field_employeeCode"
                [(ngModel)]="employeeFederalTax.employeeCode" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_createdDate">Created Date</label>
            <div class="input-group">
                <input id="field_createdDate" type="text" class="form-control" name="createdDate" ngbDatepicker  #createdDateDp="ngbDatepicker" [(ngModel)]="employeeFederalTax.createdDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="createdDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_createdBy">Created By</label>
            <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                [(ngModel)]="employeeFederalTax.createdBy" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
