
<div *ngIf="employeeTaxDeduction">
    <h2><span>Employee Federal Tax</span> {{employeeTaxDeduction.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Filing Status Code</span></dt>
        <dd>
            <span>{{employeeTaxDeduction.filingStatusCode}}</span>
        </dd>
        <dt><span>Exempt From With Holding</span></dt>
        <dd>
            <span>{{employeeTaxDeduction.exemptFromWithHolding}}</span>
        </dd>
        <dt><span>Allowances</span></dt>
        <dd>
            <span>{{employeeTaxDeduction.allowances}}</span>
        </dd>
        <dt><span>Extra With Holding</span></dt>
        <dd>
            <span>{{employeeTaxDeduction.extraWithHolding}}</span>
        </dd>
        <dt><span>Employee Code</span></dt>
        <dd>
            <span>{{employeeTaxDeduction.employeeCode}}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
            <span>{{employeeTaxDeduction.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
            <span>{{employeeTaxDeduction.createdBy}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'employee-federal-tax/'+ employeeTaxDeduction.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
